<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Article List</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5" th:each="article, index: ${articles}">
    <div class="d-flex justify-content-between align-items-center mb-4">
<!--        모델이 설정된 경우 boards는 null이 아님-->
        <h2 th:unless="${categoryView}">전체 게시판 게시글</h2>
        <h2 th:if="${categoryView}" th:text="${boards+' 게시판'}">게시판 게시글 목록 보기</h2>
        <a th:href="@{/article}" class="btn btn-primary">게시글 쓰기</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">게시판 제목</th>
            <th scope="col">날짜</th>
            <th scope="col">카테고리</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">[[${index.index+1}]]</th>
            <td><a th:href="@{/article/{articleId}(articleId=${article.id})}">[[${article.title}]]</a></td>
            <td>[[${article.createDate}]]</td>
            <td th:text="${article.boardCategory}">카테고리</td>
        </tr>
        </tbody>
    </table>

    <!--    검색 부분-->
    <form class="row g-2 align-items-center" action="/boards/search" method="get">
        <div class="col-auto">
            <select class="form-select me-2" id="criteria" name="criteria" aria-label="Category">
                <option selected value="all">전체</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
            </select>
        </div>
        <div class="col-auto">
            <input class="form-control me-2" type="search" placeholder="검색어를 입력하세요" id="search" name="search" aria-label="Search">
        </div>
<!--        게시판 카테고리를 전해주기 위한 hidden input-->
<!--        <input type="hidden" id="category" name="category" th:value="${boards != null ? boards.category : ''}" />-->
        <div class="col-auto">
            <button class="btn btn-outline-success me-2" type="submit">검색</button>
        </div>
    </form>
</div>

<!-- 부트스트랩 및 팝퍼, 제이쿼리 CDN 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
