<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Article List</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
<!--        모델이 설정된 경우 boards는 null이 아님-->
        <h2 th:if="${boards != null}" th:text="${boards.category +' 게시판'}">게시판 게시글 목록 보기</h2>
<!--        모델이 설정되지 않은 경우 (즉, 전체 카테고리 목록) boards는 null이다. -->
        <h2 th:if="${boards == null}">전체 게시판 게시글</h2>
        <a th:href="@{/article}" class="btn btn-primary">게시글 쓰기</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">게시판 제목</th>
            <th scope="col">날짜</th>
            <th scope="col">카테고리</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="article, index: ${articles}">
            <th scope="row">[[${index.index+1}]]</th>
            <td><a th:href="@{/article/{articleId}(articleId=${article.id})}">[[${article.title}]]</a></td>
            <td>[[${article.createDate}]]</td>
            <td>[[${article.board.category}]]</td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 부트스트랩 및 팝퍼, 제이쿼리 CDN 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
