<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Article Detail</title>
    <!-- 부트스트랩 CDN 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">[[${article.title}]]</h2>

    <div class="card mb-4">
        <div class="card-header">
            날짜: <strong>{article.createDate}</strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                [[${article.content}]]
            </p>
        </div>
    </div>
    <hr>

    <!-- 게시글 수정, 삭제 버튼 -->
    <div class="mb-3">
        <a th:href="@{'/edit-article/' + ${article.id}}" class="btn btn-secondary">게시글 수정</a>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#deleteArticleModal">게시글 삭제</button>
    </div>

    <!-- 댓글 부분 -->
    <h3 class="mb-3">COMMENTS</h3>

    <div th:each="comment : ${comments}" class="media mb-4">
        <div class="media-body d-flex">
            <div>
                <span th:text="${comment.content}">댓글 내용</span>
            </div>
            <div class="ml-auto">
                <span class="mt-0 mr-3" th:text="${comment.createDate}">댓글 작성 시간</span>
                <button type="button" class="btn btn-danger" th:onclick="'deleteComment(\'' + ${comment.id} + '\')'">삭제</button>
<!--                todo: 댓글 삭제시에 비밀번호 확인하고, 일치시 삭제 가능하도록 하기.-->
            </div>
        </div>
    </div>

    <hr>
    <!-- 댓글 작성 폼 -->
    <h3 class="mb-3 mt-10">댓글 작성하기</h3>
<!--    todo: form action 작성-->
    <form action="" method="post">
        <div class="form-group">
            <label for="commentContent">댓글 내용</label>
            <textarea class="form-control" id="commentContent" rows="3" placeholder="댓글을 입력하세요"></textarea>
        </div>
        <div class="form-group">
            <label for="commentPassword">작성자 확인 비밀번호</label>
            <input type="password" class="form-control" id="commentPassword"
                   placeholder="작성자를 확인하기 위해 비밀번호를 입력해주세요.">
        </div>
        <button type="submit" class="btn btn-primary">댓글 작성</button>
    </form>
</div>


<!-- 게시글 삭제 모달 -->
<div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog" aria-labelledby="deleteArticleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteArticleModalLabel">게시글 삭제 확인</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                게시글을 삭제하시겠습니까? 이 작업은 되돌릴 수 없습니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <a th:href="@{'/delete-article/' + ${article.id}}" class="btn btn-danger">삭제</a>
            </div>
        </div>
    </div>
</div>
<!-- 부트스트랩 및 팝퍼, 제이쿼리 CDN 추가 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
